html, body{
    margin:0px;
    padding:0px;
    height:100%;
    overflow:hidden;
}   
.dhx_cal_tab.dropdown{
    padding: 0;
    border: none;
}
.dhx_cal_tab .btn{
    font-size: 12px;
    padding: 0px 12px;
    height: 30px;
    line-height: 30px;
}
.dhx_cal_tab .dropdown-menu{
    -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5); 
    font-size: 12px;
}
.dhx_cal_date{
    display: none;
}
.dhx_cal_navline{
    background-color: #2f4154;
}
.dhx_cal_tab.active{
    background-color: #1abc9c;
    color: #ffffff;
    text-shadow: none;
    font-weight: normal;
}
.dhx_cal_tab,
.dhx_cal_today_button,
.dhx_cal_prev_button,
.dhx_cal_next_button{
    color: #ffffff;
    font-weight: normal;
    border-color: #1abc9c !important;
    background-image: none;
    text-align: center;
}
.dhx_cal_event_line,
.dhx_cal_event .dhx_body, 
.dhx_cal_event .dhx_footer, 
.dhx_cal_event .dhx_header, 
.dhx_cal_event .dhx_title{
    background-color: #1abc9c;
}
.dhx_now .dhx_month_body, 
.dhx_now .dhx_month_head{
    background-color: #d9f1ec !important;
}