.choice {
	text-align: center;
	height: 310px;
	background-position: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.choice table{
	height: 100%;
	width: 100%;
}
.choice table td{
	text-align: center;
	padding: 15px;
	font-size: 36px;
	font-weight: bold;
}
.choice table td {
	color: #ffffff;
}
.choice table td i{
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
.choice img {
	margin: 20px 0;
	display: inline-block;
	width: 50%;
	max-width: 200px;
}
.consumer {
	background-image: url('/media/image/header-booking.jpg');
}
.consumer i{
	font-size: 50px;
	background-color: #1abc9c;
}
.merchant i{
	font-size: 60px;
	background-color: #f49541;
}
.merchant {
	background-image: url('/media/image/header-merchant.jpg'); 
}