.home-merchant-btn-circle{
    height:150px;
    width:150px;
    background: #f1f1f1;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 10px 10px;
}

.home-merchant-btn-circle .glyphicon{
    font-size: 64px;
}

.home-merchant-btn-title{
    display: block;
    font-weight: bold;
    color: teal;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .home-merchant-btn-circle{
        width: 125px;
        height: 125px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .home-merchant-btn-circle{
        width: 100px;
        height: 100px;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    .home-merchant-btn-circle{
        width: 80px;
        height: 80px;
    }
    
    .home-merchant-btn-circle .glyphicon{
        font-size: 45px;
    }
}