body, html{
    width: 100%;
    height: 100%;
}
body{
    background-color: #f1f1f1;
}
.table{
    display: table;
    margin:0;
}
.crop{
    overflow: hidden;
}
.tr{
    display: table-row;
}
.td{
    display: table-cell;
    vertical-align: middle;
}
.action,
.action table{
    width: 100%;
    line-height: 40px !important;
}
.action-name{
    font-size: 28px;
    color: #2f4154;
}
.action-icon{
    width: 40px;
    font-size: 34px;
    text-align: center;
    color: #1abc9c;
}
.fichier{
    color: #666666;
}
.browse{
    cursor: pointer;
    background: #1abc9c;
    border-color: #1abc9c;
}
.no-result .panel-body{
    position: relative;
    padding-left: 65px;
}
.no-result h4{
    margin: 0
}
.no-result i{
    margin-right: 6px;
    position: absolute;
    left: 15px;
    font-size: 40px;
    line-height: 40px;
    top: 50%;
    margin-top: -20px;
}
.browse i{
    margin-left: 5px;
}
.checkday {
    font-weight: normal;
}
.checkday input {
    margin-right: 5px;
}
#home-user-menu a{
    cursor: pointer;
}
#layout-message {
    height: 1px;
}
#layout-message p{
    margin:0;
}
#layout-message .alert{
    margin: 15px 0 0 0;
}
.alert p{
    margin: 0;
}
#layout-header{
    height: 1px;
}
#layout-header .navbar{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
    margin: 0;
}
#layout-header .navbar-nav > li > a{
    font-weight: normal;
    padding: 15px 12px;
    cursor: pointer;
}
#layout-header .navbar-brand i{
    margin-right: 10px;
}
#layout-message .container,
#layout-section .container{
    max-width: 1000px;
}
#layout-section > .td{
    vertical-align: top;
}
#layout-section > .td.vertical-align {
    vertical-align: middle;
}
#layout-footer{
    height: 60px;
    font-size: 12px;
    color: #bbbbbb;
    background-color: none !important;
}
#layout-footer .td{
    padding-top: 15px;
}
#layout-footer ul{
    padding-left: 0;
}
#layout-footer ul *{
    font-weight: normal;
}
#layout-footer .col{
    padding-top: 5px;
    padding-bottom: 5px;
}
#layout-footer em{
    font-weight: bold;
    font-style: normal;
    color: #999999 !important;
}
#layout-footer *{
    color: #bbbbbb;
}
.underconstruction{
    background-image: url(/media/image/const.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50%;
}
ul li{
    list-style-type:none;
}
.container-center {
    max-width: 900px;
}
.hover-cursor-pointer{
    cursor: pointer;
}
.file {
  visibility: hidden;
  position: absolute;
}
#member-header-image{
    height: 45px;
    width: 45px;
    margin: 6px 12px 6px 12px;
    border-radius: 3px;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
@media only screen and (min-width : 768px) {
    .col-left{
        padding-right: 0;
    }
}
@media only screen and (max-width : 768px) {
    
}