.panel.confirmation-logo{
	background-image: url("/media/image/header-booking.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.panel.confirmation-logo i{
	font-size: 160px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -80px;
    text-align: center;
}
.panel.confirmation-msg table{
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
.panel.confirmation-msg table td{
	padding: 20px;
}
.panel.confirmation-msg p{
	line-height: 21px;
}
.panel{
	margin-top: 30px;
	height: 310px;
}
.panel-icon i{
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #ffffff;
	font-size: 23px;
	top: -20px;
	left: 20px;
	z-index: 100;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    background-color: #1abc9c;
    position: absolute;
}
.logo{
	margin-bottom: 26px;
}
.form-group:last-child{
	margin-bottom: 0;
}

/*********
**Slider** 
*********/
#slider-popular-service{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}
#slider-popular-service,
#slider-popular-service .slider-image,
#slider-popular-service .slick-list,
#slider-popular-service .slick-track{
	height: 100%;
}
#slider-popular-service .slick-list{
	overflow: hidden;
}
.slick-prev, .slick-next { 
    position: absolute;
    z-index: 1;
    border: none;
    width: 50px !important;
    height: 50px !important;
    line-height: 50px;
}
.slick-prev:before, .slick-next:before{
    color:#ffffff !important;
    font-size: 40px !important;
}
.slick-prev{
	left: 0 !important;
}
.slick-next{
	right: 0 !important;
}
.slick-slide{
	overflow: hidden;
	position: relative;
	height: 100%;
	display: inline-block;
}
.slide-info{
	position: absolute;
	color: #ffffff;
	z-index: 10;
	padding: 10px;
	left: 10px;
	top: 10px;
	background-color: #1abc9c;
}
.slider-title{
	font-size: 28px;
	line-height: 32px;
	font-weight: bold;
}
.slider-desc{
	font-size: 16px;
	line-height: 21px;
	padding-left: 2px;
}
.slide-canvas{
	position: absolute;
	left: -1000px;
	right: -1000px;
	top: -1000px;
	bottom: -1000px;
}
.slide-canvas .table,
.slide-canvas .table .tr,
.slide-canvas .table .td{
	width: 100%;
	height: 100%;
	text-align: center;
}
.slide-canvas img{
	max-width: 1000px;
}