.member-picture{
	width: 0px;
}
.member-picture div{
	width: 100px;
	height:100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
	position: relative;
	overflow: hidden;
	background-color: #efefef;
}
.member-picture div img{
	width: 100%;
}
.member-detail{
	padding-left: 15px;
}
.member-detail h5{
	margin: 0;
}
.member-detail p{
	margin: 0;
	font-size: 14px;
	line-height: 18px;
}
.table-responsive td{
	cursor: pointer;
}
.table-responsive th{
	border-top: none !important;
}
.table-responsive .total{
	width: 1px;
	text-align: right;
}
.well {
	padding: 9px 12px;
	margin-bottom:15px;
}
.left .well{
	margin-right: -7px;
}
.right .well{
	margin-left: -7px;
}
.left.last .well,
.right.last .well{
	margin-bottom: 0;
}
.well h4{
	margin: 0;
}
.well span{
	font-size: 12px;
}