.availability table{
    height: 80px;
}
.availability .btn{
    position: absolute;
    bottom: -5px;
}
.availability .btn-primary{
    position: absolute;
    right: 10px;
}
.availability-picture{
    width: 80px;
    text-align:center;
}
.availability-picture img{
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #efefef;
}
.availability-detail{
    padding-left: 15px;
}
.availability-date{
    display: block
}
.availability-business{
    line-height: 15px;
    font-size: 14px;
    display: block
}
.appointment{
    padding: 10px;
    border-top: 1px solid #efefef;
}
.appointment table{
    height: 40px;
}
.appointment .btn{
    position: absolute;
    bottom: -5px;
}
.appointment .btn-primary{
    position: absolute;
    right: 10px;
}
.appointment-picture{
    width: 40px;
    text-align:center;
}
.appointment-picture img{
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #efefef;
}
.appointment-detail{
    padding-left: 10px;
}
.appointment-detail *{
    font-size: 12px;
}
.appointment-date{
    display: block
}
.appointment-business{
    line-height: 15px;
    font-size: 14px;
    display: block
}
.panel-tag{
    position: absolute;
    z-index: 2;
    right: -40px;
    top: 50%;
    margin-top: -30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}
.panel-tab{
    margin-top: 50px;
}
.panel-tab .nav-tabs{
    top: -43px;
    position: absolute;
    width: 100%;
}
.summary-tabs{
    padding: 0;
    margin: 0;
    font-size: 0;
}
.summary-tabs > li{
    width: 50%;
    display: inline-block;
}
.summary-tabs > li a{
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    -khtml-border-radius: 14px;
    border-radius: 14px;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    background-color: #2f4154;
    color: #ffffff;
    display: block;
    margin:10px;
    text-align: center;
}
.summary-scroll{
    overflow-y:scroll;
    max-height: 600px;
}
.summary-tabs > li:first-child a{
    margin-right: 5px;
}
.summary-tabs > li:last-child a{
    margin-left: 5px;
}
.summary-tabs > li.active > a{
    background-color: #1abc9c;
}
#modal-calendar{
    padding: 20px !important;
}
#modal-calendar .modal-dialog,
#modal-calendar .modal-content{
    width: 100%;
    height: 100%;
    margin: 0 !important;
}
#modal-calendar iframe{
    border: none;
    width: 100%;
    height: 100%;
}
#modal-calendar .close{
    position: absolute;
    right: 35px;
    z-index: 1000;
    color: #ffffff;
    top: 33px;
    font-size: 30px;
    opacity: 1;
    font-weight: normal;
}