{% set isVerticalAlign = true %}

{% extends "layout.html" %}

{% block title %}Choix{% endblock %}  

{% block head %}
<link rel="stylesheet" href="/css/choice.css">
{% endblock %}

{% block section %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <a class="panel choice consumer" href="/consumer/registration" >
                <table>
                    <tr>
                        <td>
                            <i class="fa fa-credit-card-alt" aria-hidden="true"></i><br>
                            Consommateur
                        </td>
                    </tr>
                </table>
            </a>
        </div>
        <div class="col-sm-6">
            <a class="panel choice merchant" href="/merchant/registration">
                <table>
                    <tr>
                        <td>
                            <i class="fa fa-truck" aria-hidden="true"></i><br>
                            Marchand
                        </td>
                    </tr>
                </table>
            </a>  
        </div>
    </div>
</div>
{% endblock %}
