{% set isVerticalAlign = true %}

{% extends "layout.html" %} 

{% block title %}Authentification{% endblock %}    

{% block head %}
<link rel="stylesheet" type="text/css" href="/css/login.css">
<link rel="stylesheet" type="text/css" href="/lib/slick/slick-theme.css">
{% endblock %}

{% block script_links %}
{{  parent() }}
<script src="/lib/slick/slick.min.js"></script>
<script src="/javascript/login.js"></script>
{% endblock %}

{% block section %}
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-left">
            <div class="panel panel-icon">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <div class="panel-body">
                    <form method="post" action="{{ROUTE.SIGNIN_USER}}" data-toggle="validator">
                        <div class="form-group" style="margin-top: 20px">
                            <input name="username" class="form-control" type="text" placeholder="Courriel / nom d'utilisateur" required>
                        </div>
                        <div class="form-group">
                            <input name="password" class="form-control" type="password" placeholder="Mots de passe" required>
                        </div>
                        <div class="form-group">
                            <label id="stay_log" class="form-check-label">
                                <input id="stay_log" class="form-check-input" type="checkbox" checked="checked"> Se souvenir
                            </label>
                        </div>
                        <div class="form-group">         
                            <button class="btn btn-primary btn-block" name="btn_signin"> 
                                Connexion 
                            </button>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-inverse btn-block" href="{{ROUTE.REGISTRATION_TYPE}}"> 
                                Inscription 
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-8 col-right">
            <div class="panel panel-icon crop">
                <div id="slider-popular-service" class="content shadow"></div>
            </div>
        </div>  
          
    </div>
</div>
{% endblock %}
