<!DOCTYPE html>
<html>
    <head>
        <title>Calendar</title>
        <script src="/lib/jquery-ui/external/jquery/jquery.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="/lib/scheduler/codebase/dhtmlxscheduler.js" type="text/javascript"></script>
        <script src="/lib/scheduler/codebase/ext/dhtmlxscheduler_recurring.js" type="text/javascript"></script>
        <script src="/javascript/calendar.js" type="text/javascript"></script>
        <script src="/javascript/module.js" type="text/javascript"></script>
        <link rel="stylesheet" href="/lib/scheduler/codebase/dhtmlxscheduler.css" type="text/css">
        <link rel="icon" type="image/png" href="/media/image/favicon.png">
        <link rel="stylesheet" type="text/css" href="/css/calendar.css">
        <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/lib/flat-ui-master/css/flat-ui.css">
        <script type="text/javascript">
                var controller = new CalendarController({{settings | json_encode | raw}}, scheduler);
          </script>
    </head>
    <body onload="controller.init();">

        <div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100%;'>
            <div class="dhx_cal_navline">
                <div class="dhx_cal_prev_button" style="right: 92px;">&#9664</div>
                <div class="dhx_cal_next_button" style="right: 45px;">&#9654</div>
                <div class="dhx_cal_today_button" style="right: 152px;"></div>
                <div class="dhx_cal_date"></div>
                <div class="dhx_cal_tab dropdown" name="other" style="left: 280px;">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Services <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {% for service in services %}
                            <li><a href="{{ ROUTE.MERCHANT }}{{ ROUTE.CALENDAR }}/{{ service.id }}">{{ service.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div> 
                <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
                <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
                <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
            </div>
            <div class="dhx_cal_header"></div>
            <div class="dhx_cal_data"></div>       
        </div>
		
    </body>
</html>
