{% extends "layout_consumer.html" %}

{% block scrip_links %}
{{ parent() }}
{% endblock %}

{% block title %}{{ parent() }}consommateur{% endblock %} 

{% block consumer_content %}
<div class="panel panel-primary">
    <div class="panel-heading">Tableau de bord</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6 left">
                <div class="well">
                    <h4 class="statcard-number">{{statistics.passedAppointmentsCount}}</h4>
                    <span class="statcard-desc">Rendez-vous passés</span>
                </div>
            </div>
            <div class="col-xs-6 right">
                <div class="well">
                    <h4 class="statcard-number">{{statistics.comingAppointmentsCount}}</h4>
                    <span class="statcard-desc">Rendez-vous à venir</span>
                </div>
            </div>
            <div class="col-xs-6 left">
                <div class="well">
                    <h4 class="statcard-number">{{statistics.cancelledAppointmentsCount}}</h4>
                    <span class="statcard-desc">Rendez-vous annulés</span>
                </div>
            </div>
            <div class="col-xs-6 right">
                <div class="well">
                    <h4 class="statcard-number">{{statistics.appointmentsCount}}</h4>
                    <span class="statcard-desc">Rendez-vous au total</span>
                </div>
            </div>
            <div class="col-xs-6 left last">
                <div class="well">
                    <h4 class="statcard-number">{{statistics.ratingCount}}</h4>
                    <span class="statcard-desc">Services évalués</span>
                </div>
            </div>
            <div class="col-xs-6 right last">
                <div class="well">
                    <h4 class="statcard-number">{{statistics.timeBeforeNextAppointment}}</h4>
                    <span class="statcard-desc">Avant votre prochain RDV</span>
                </div>
            </div>            
        </div>
    </div>
</div>

{% endblock %}  