{% extends "layout_consumer.html" %}

{% block title %}Rechercher un service{% endblock %}  

{% block script_links %}
{{ parent() }}
<script src="/javascript/service/main.js"></script>
<script src="/javascript/service/create.js"></script>
{% endblock %}

{% block consumer_content %}

<div class="panel panel-primary">
    <div class="panel-heading">Rechercher un service</div>
    <div class="panel-body">
        <form id="formService" method="GET" data-toggle="validator">
            <input type="hidden" value="{{ filters.id }}" name="id">
            <div class="row"> 
                <div class="form-group col-sm-6">
                    <label for="domaine">Domaine</label>
                    <select class="form-control" id="domain" data-selected="{{ filters.domainId }}" name="domain" required></select>
                </div>
                <div class="form-group col-sm-6">
                    <label for="category">Catégorie</label>
                    <select class="form-control" id="category" data-selected="{{ filters.categoryId }}" name="category" required disabled></select>
                </div>
                <div class="col-sm-6 form-group">
                    <label for="dateBegin">Jours disponible entre</label>
                    <input type="text" class="form-control date-picker" id="date_from" placeholder="AAAA-MM-JJ" size="10" value="{{ filters.dateBegin }}" name="dateBegin">
                </div>
                <div class="col-sm-6 form-group">
                    <label for="dateEnd">et</label>
                    <input type="text" class="form-control date-picker" id="date_to" placeholder="AAAA-MM-JJ" size="10" value="{{ filters.dateEnd }}" name="dateEnd">
                </div>
                <div class="form-group col-sm-6">
                    <label>Heures disponible entre</label>
                    <select class="form-control" name="hourBegin" id="hourBegin">
                        {% set selected = filters.hourBegin %}
                        {% include 'hours.html' %}
                    </select>
                </div>
                <div class="form-group col-sm-6">
                    <label>et</label>
                    <select class="form-control" name="hourEnd" id="hourEnd">
                        {% set selected = filters.hourEnd %}
                        {% include 'hours.html' %}
                    </select>
                </div>
                <div class="col-sm-6 form-group">
                    <label for="price">Prix maximum</label>
                    <input type="text" class="form-control" id="price" value="{{ filters.price }}" name="price" placeholder="ex: 19.99">
                </div>
                <div class="col-sm-12">
                    <label>Jours</label>
                </div>
                <div class="form-group col-xs-6 col-sm-3">
                    <label for="lundi" class="checkday">
                        <input id="lundi" type="checkbox" name="monday" 
                            value="1"{% if filters.monday == '1' %} checked{% endif %}/>Lundi
                    </label>
                </div>
                <div class="form-group col-xs-6 col-sm-3">
                    <label for="mardi" class="checkday">
                        <input id="mardi" type="checkbox" name="tuesday" 
                            value="1"{% if filters.tuesday == '1' %} checked{% endif %}/>Mardi
                    </label>
                </div>
                <div class="form-group col-xs-6 col-sm-3">
                    <label for="mercredi" class="checkday">
                        <input id="mercredi" type="checkbox" name="wednesday" 
                            value="1"{% if filters.wednesday == '1' %} checked{% endif %}/>Mercredi
                    </label>
                </div>
                <div class="form-group col-xs-6 col-sm-3">
                    <label for="jeudi" class="checkday">
                        <input id="jeudi" type="checkbox" name="thursday" 
                            value="1"{% if filters.thursday == '1' %} checked{% endif %}/>Jeudi
                    </label>
                </div>
                <div class="form-group col-xs-6 col-sm-3">
                    <label for="vendredi" class="checkday">
                        <input id="vendredi" type="checkbox" name="friday" 
                            value="1"{% if filters.friday == '1' %} checked{% endif %}/>Vendredi
                    </label>
                </div>
                <div class="form-group col-xs-6 col-sm-3">
                    <label for="samedi" class="checkday">
                        <input id="samedi" type="checkbox" name="saturday" 
                            value="1"{% if filters.saturday == '1' %} checked{% endif %}/>Samedi
                    </label>
                </div>
                <div class="form-group col-sm-3">
                    <label for="dimanche" class="checkday">
                        <input id="dimanche" type="checkbox" name="sunday" 
                            value="1"{% if filters.sunday == '1' %} checked{% endif %}/>Dimanche
                    </label>
                </div>
                <div id="search" class="form-group col-sm-12">     
                    <button class="btn btn-primary" type="submit">Rechercher</button>
                    <a class="btn btn-danger" href="/consumer/service/search">Clear</a>
                </div>
            </div>
        </form>
    </div>
</div>

{% include "consumer_search_result.html" %}

{% endblock %}