{% if searching and availabalities is empty %}

    <div class="panel no-result">
        <div class="panel-body">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <h4>Aucun service disponible</h4>
            Modifier vos critères de recherche
        </div>
    </div>

{% endif %}

{% if availabalities is not empty %}

    <script type="text/javascript">
        app.on('ready', function(){
            app.scrollTo('#search');
        });
    </script>


    {% for availability in availabalities %}

        <div class="panel availability">
            <!--<div class="panel-tag" style="background-color: {{ availability.color }};"></div>!-->
            <div class="panel-body">
                <div class="table">
                    <div class="tr">
                        <div class="td availability-picture">
                            <img src="{{ availability.businessImage }}" />
                        </div>
                        <div class="td availability-detail">
                            <b class="availability-date">
                                {{ date(availability.dateBegin)|strftime('%A %e %B - %R à') }}
                                {{ date(availability.dateEnd)|strftime('%R') }}
                            </b>
                            <span class="availability-business">
                                {{ availability.serviceName }}<br>
                                {{ availability.businessName }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-xs btn-primary" onclick='app.takeBooking({{availability|json_encode}});'>
                Réserver
            </a>
        </div>

    {% endfor %}

{% endif %}