<table class="table table-striped">
	<thead>
		<tr>
			<th colspan="2">Réservez-vouz le service suivant?</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><b>Service:</b></td>
			<td>{{ availability.serviceName }}</td>
		</tr>
		<tr>
			<td><b>Marchant:</b></td>
			<td>{{ availability.businessName }}</td>
		</tr>
		<tr>
			<td><b>Adresse:</b></td>
			<td>{{ availability.businessAddress.number }} {{ availability.businessAddress.street }} {% if businessAddress.appartment > 0 %}app {{ availability.businessAddress.appartment }}{% endif %}, {{ availability.businessAddress.code }}, {{ availability.businessAddress.town }}, {{ availability.businessAddress.province }} </td>
		</tr>
		<tr>
			<td><b>Début:</b></td>
			<td>{{ availability.dateBegin }}</td>
		</tr>
		<tr>
			<td><b>Fin:</b></td>
			<td>{{ availability.dateEnd }}</td>
		</tr>
	</tbody>
</table>
Appuyez sur CONFIRMER pour reserver immédiatement.