<div class="panel panel-primary">

    <div class="panel-heading">Sommaire des rendez-vous</div>

    {% if comingAppointments is empty %}

        <div class="panel-body" id="tab1default">
            <div class="alert alert-warning" style="margin: 0;">
                <p>Vous avez pas de rendez-vous</p>
            </div>
        </div>

    {% else %}

        <ul class="summary-tabs">
            <li class="active"><a href="#tab1default" data-toggle="tab">À venir</a></li>
            <li><a href="#tab2default" data-toggle="tab">Archive</a></li>
        </ul>

        <div class="summary-scroll">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1default">
                    {% for appointment in comingAppointments %}
                        <div class="appointment">
                            <div class="table">
                                <div class="tr">
                                    <div class="td appointment-picture">
                                        <img src="{{ appointment.merchantImage }}" />
                                    </div>
                                    <div class="td appointment-detail">
                                        <b class="appointment-date">
                                            {{ date(appointment.datetimeStart)|strftime('%A %e %B - %R à') }}
                                            {{ date(appointment.datetimeEnd)|strftime('%R') }}
                                        </b>
                                        <span class="availability-business">
                                            {{ appointment.serviceName }}<br>
                                            {{ appointment.merchantName }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="tab2default">
                    {% for appointment in passedAppointments %}
                        <div class="appointment">
                            <div class="table">
                                <div class="tr">
                                    <div class="td appointment-picture">
                                        <img src="{{ appointment.merchantImage }}" />
                                    </div>
                                    <div class="td appointment-detail">
                                        <b class="appointment-date">
                                            {{ date(appointment.datetimeStart)|strftime('%A %e %B - %R à') }}
                                            {{ date(appointment.datetimeEnd)|strftime('%R') }}
                                        </b>
                                        <span class="availability-business">
                                            {{ appointment.serviceName }}<br>
                                            {{ appointment.merchantName }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    {% endif %}

</div>