<option value="">Choisissez</option>
<option value="00:00:00"{% if selected == "00:00:00" %} selected{% endif %}>00h00</option>
<option value="00:30:00"{% if selected == "00:30:00" %} selected{% endif %}>00h30</option>
<option value="01:00:00"{% if selected == "01:00:00" %} selected{% endif %}>01h00</option>
<option value="01:30:00"{% if selected == "01:30:00" %} selected{% endif %}>01h30</option>
<option value="02:00:00"{% if selected == "02:00:00" %} selected{% endif %}>02h00</option>
<option value="02:30:00"{% if selected == "02:30:00" %} selected{% endif %}>02h30</option>
<option value="03:00:00"{% if selected == "03:00:00" %} selected{% endif %}>03h00</option>
<option value="03:30:00"{% if selected == "03:30:00" %} selected{% endif %}>03h30</option>
<option value="04:00:00"{% if selected == "04:00:00" %} selected{% endif %}>04h00</option>
<option value="04:30:00"{% if selected == "04:30:00" %} selected{% endif %}>04h30</option>
<option value="05:00:00"{% if selected == "05:00:00" %} selected{% endif %}>05h00</option>
<option value="05:30:00"{% if selected == "05:30:00" %} selected{% endif %}>05h30</option>
<option value="06:00:00"{% if selected == "06:00:00" %} selected{% endif %}>06h00</option>
<option value="06:30:00"{% if selected == "06:30:00" %} selected{% endif %}>06h30</option>
<option value="07:00:00"{% if selected == "07:00:00" %} selected{% endif %}>07h00</option>
<option value="07:30:00"{% if selected == "07:30:00" %} selected{% endif %}>07h30</option>
<option value="08:00:00"{% if selected == "08:00:00" %} selected{% endif %}>08h00</option>
<option value="08:30:00"{% if selected == "08:30:00" %} selected{% endif %}>08h30</option>
<option value="09:00:00"{% if selected == "09:00:00" %} selected{% endif %}>09h00</option>
<option value="09:30:00"{% if selected == "09:30:00" %} selected{% endif %}>09h30</option>
<option value="10:00:00"{% if selected == "10:00:00" %} selected{% endif %}>10h00</option>
<option value="10:30:00"{% if selected == "10:30:00" %} selected{% endif %}>10h30</option>
<option value="11:00:00"{% if selected == "11:00:00" %} selected{% endif %}>11h00</option>
<option value="11:30:00"{% if selected == "11:30:00" %} selected{% endif %}>11h30</option>
<option value="12:00:00"{% if selected == "12:00:00" %} selected{% endif %}>12h00</option>
<option value="12:30:00"{% if selected == "12:30:00" %} selected{% endif %}>12h30</option>
<option value="13:00:00"{% if selected == "13:00:00" %} selected{% endif %}>13h00</option>
<option value="13:30:00"{% if selected == "13:30:00" %} selected{% endif %}>13h30</option>
<option value="14:00:00"{% if selected == "14:00:00" %} selected{% endif %}>14h00</option>
<option value="14:30:00"{% if selected == "14:30:00" %} selected{% endif %}>14h30</option>
<option value="15:00:00"{% if selected == "15:00:00" %} selected{% endif %}>15h00</option>
<option value="15:30:00"{% if selected == "15:30:00" %} selected{% endif %}>15h30</option>
<option value="16:00:00"{% if selected == "16:00:00" %} selected{% endif %}>16h00</option>
<option value="16:30:00"{% if selected == "16:30:00" %} selected{% endif %}>16h30</option>
<option value="17:00:00"{% if selected == "17:00:00" %} selected{% endif %}>17h00</option>
<option value="17:30:00"{% if selected == "17:30:00" %} selected{% endif %}>17h30</option>
<option value="18:00:00"{% if selected == "18:00:00" %} selected{% endif %}>18h00</option>
<option value="18:30:00"{% if selected == "18:30:00" %} selected{% endif %}>18h30</option>
<option value="19:00:00"{% if selected == "19:00:00" %} selected{% endif %}>19h00</option>
<option value="19:30:00"{% if selected == "19:30:00" %} selected{% endif %}>19h30</option>
<option value="20:00:00"{% if selected == "20:00:00" %} selected{% endif %}>20h00</option>
<option value="20:30:00"{% if selected == "20:30:00" %} selected{% endif %}>20h30</option>
<option value="21:00:00"{% if selected == "21:00:00" %} selected{% endif %}>21h00</option>
<option value="21:30:00"{% if selected == "21:30:00" %} selected{% endif %}>21h30</option>
<option value="22:00:00"{% if selected == "22:00:00" %} selected{% endif %}>22h00</option>
<option value="22:30:00"{% if selected == "22:30:00" %} selected{% endif %}>23h30</option>
<option value="23:00:00"{% if selected == "23:00:00" %} selected{% endif %}>23h00</option>
<option value="23:30:00"{% if selected == "23:30:00" %} selected{% endif %}>23h30</option>
<option value="24:00:00"{% if selected == "24:00:00" %} selected{% endif %}>24h00</option>