<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">      
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/lib/jquery-ui/external/jquery/jquery.js"></script>
        <script src="/lib/jquery-ui/jquery-ui.min.js"></script>
        <script src="/javascript/module.js"></script>
        <script src="/javascript/app.js"></script>
        <link rel="icon" type="image/png" href="/media/image/favicon.png">
        <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/lib/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/lib/flat-ui-master/css/flat-ui.css">
        <link rel="stylesheet" type="text/css" href="/lib/jquery-ui/jquery-ui.min.css">
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <link rel="stylesheet" type="text/css" href="/css/member.css">
        <link rel="stylesheet" type="text/css" href="/css/module.css">
        <title>Rendez-Vous | {% block title %}{% endblock %}</title>
        {% block head %}{% endblock %}
        {% include 'app.html' %}
    </head>
    <body class="table">

        <header id="layout-header" class="tr">
            {% include 'layout_header.html' %}
        </header>

        <section id="layout-message" class="tr">
            <div class="td">
                <div class="container">
                    <div class="row"></div>
                </div>
            </div>
        </section>

        <section id="layout-section" class="tr">
            <div class="td{% if isVerticalAlign|default(false) %} vertical-align{% endif %}">
                {% block section %}{% endblock %}
            </div>
        </section>

        <footer id="layout-footer" class="tr">
            <div class="td">
                {% include 'layout_footer.html' %}
            </div>
        </footer>

        {% include 'modal.html' %}
        <script src="/lib/w3c/w3data.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="/lib/bootstrap/js/validator.js"></script>
        {% block script_links %}{% endblock %}
    </body>
</html>
