{% extends "layout.html" %}

{% block title %}{{ user.type }}{% endblock %}

{% block section %}
    <div class="container">
    	<div class="row">

		    <div class="col-xs-12">
		    	<div class="panel">
		    		<div class="panel-body">
				        <table>
				            <tr>
				                <td class="member-picture">
				                    <div>
				                        <img alt="avatar" title="avatar" src="{{ user.image }}">
				                    </div>
				                </td>
				                <td class="member-detail">
				                    <h5>{{ user.fullname }}</h5>
				                    <p style="padding-left: 2px;">
				                    	<b>user:</b> {{ user.username }}<br>
				                    	<b>client:</b> {{ user.type }}<br>
				                    	<b>email:</b> {{ user.email }}
					                </p>
				                </td>
				            </tr>
				        </table>
				    </div>
				</div>
		    </div>

		</div>

		<div class="row">
        	{% block member_content %}{% endblock %}
        </div>

    </div>
{% endblock %}




