<div class="container-fluid">
    <div class="row">
        <div class='col-sm-4 col-sm-offset-1'>
            <div class="col">
                <em>Auteur</em> 
                <ul>
                    <li>Alexandre Gravel-Ménard</li>
                    <li>Alain Pitre</li>
                    <li>Pierre Beausoleil</li>
                    <li>Sara Boumehraz</li>
                </ul>
            </div>
        </div>
        <div class='col-sm-4'>
            <div class="col">
                <em>Propulsé par</em> 
                <ul>
                    <li><a href="https://www.slimframework.com/" target="_blank">Slimframework</a></li>
                    <li><a href="http://v4-alpha.getbootstrap.com/components/list-group/" target="_blank">Boostrap</a></li>
                    <li><a href="https://jqueryui.com/" target="_blank">Jquery-ui</a></li>
                    <li><a href="https://docs.dhtmlx.com/scheduler/" target="_blank">DHTMLX scheduler</a></li>
                </ul>
            </div>
        </div>
        <div class='col-sm-3'>
            <div class="col">
                <em>Tout droit réservés</em><br/>
                Copyright © 2017
            </div>
        </div>   
    </div>
</div>
