{% extends "layout.html" %}

{% block title %}Inscription{% endblock %}    

{% block head %}
<link rel="stylesheet" href="/css/register.css">
{% endblock %}  

{% block script_links %}
<script src="/javascript/register.js"></script>
{% endblock %}

{% block section %}

<div class="container">
    <h4>Inscription</h4>
    <form id="formUser" action="{{ registerRoute }}" method="POST" data-toggle="validator">
        <div class="row">
            <div class="form-group col-sm-4">
                <input class="form-control" name="firstname" type="text" placeholder="Prénom" value="{{ member.firstName }}" required>
            </div>
            <div class="form-group col-sm-4">
                <input class="form-control" name="lastname" type="text" placeholder="Nom" value="{{ member.lastName }}" required>
            </div>
            <div class="form-group col-sm-4">
                <input class="form-control date-picker" name="birthdate" type="text" placeholder="Date de naissance" size="10" value="{{ member.birthdate }}">
            </div>
            <div class="form-group col-sm-4">
                <input class="form-control" name="adresse" type="text" placeholder="Numéro civique" value="{{ member.address.number }}" required>
            </div>
            <div class="form-group col-sm-4">
                <input class="form-control" name="street" type="text" placeholder="Rue" value="{{ member.address.street }}" required> 
            </div>
            <div class="form-group col-sm-4">
                <input class="form-control" name="app" type="text" placeholder="Appartement" value="{{ member.address.appartment }}"> 
            </div>
            <div class="form-group col-sm-4">
                <input class="form-control" name="zip_code" type="text" placeholder="Code postal" value="{{ member.address.code }}" required> 
            </div>
            <div class="form-group col-sm-4">
                <select id="slc_prov_a" class="slc_prov form-control" name="province" data-target="#slc_city_a" data-selected="{{ member.address.province }}" required>
                    <option value="null">Province</option>
                    <option style="border-bottom:2px solid black; margin:-10px 0 4px 0" disabled></option>
                </select>
            </div>
            <div class="form-group col-sm-4">
                <select id="slc_city_a" class="form-control" name="town" data-selected="{{ member.address.town }}" required disabled>
                    <option value="null">Ville</option>
                    <option style="border-bottom:2px solid black; margin:-10px 0 4px 0" disabled></option>
                </select>
            </div>
            <div class="form-group col-sm-4">     
                <input class="form-control" name="phone" type="text" 
                       required placeholder="Téléphone" required pattern="\b\d{3}[-.]?\d{3}[-.]?\d{4}\b" value="{{ member.phone }}">
            </div>
            <div class="form-group col-sm-4">     
                <input class="form-control" name="mail" type="email" placeholder="Courriel"
                       required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" value="{{ member.email }}">
            </div>
            <div class="form-group col-sm-4">     
                <input class="form-control" name="mailConfirm" type="email" 
                       required placeholder="Confirmez votre courriel"  pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" value="{{ member.email }}">
            </div>
            <div class="form-group col-sm-4">    
                <input class="form-control" name="password" type="password" required placeholder="Nouveau mot de passe">
            </div>
            <div class="form-group col-sm-4">    
                <input class="form-control" name="passwordConfirm" type="password" required placeholder="Confirmez votre mot de passe">
            </div>
            <div class="form-group col-sm-4">    
                <input class="form-control" name="username" type="text" required placeholder="Nom d'utilisateur" value="{{ member.userName }}">
            </div>
        </div>
        {% block form %}
        {% endblock %}
        <div class="row">
            <div class="form-group col-sm-12">  
                <button name="btn_register" class="btn btn-primary" type="submit">Enregister</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
