{% extends 'layout_member.html' %}

{% block member_content %}

    <div id="layout-consumer-summary" class="col-sm-4 col-left">
        <article id='summary'>
            <script>
            $(document).ready(function () {
                var summaryRoute = $("#summary-route").val();
                $("#layout-consumer-summary").load('/consumer/summary');
            });
        </script>
        </article>
    </div>

    <div class="col-sm-8 col-right">
    	{% block consumer_content %}{% endblock %}
    </div>

{% endblock %}