
{% extends "layout_member.html" %}

{% block script_links %}
{{ parent() }}
{% endblock %}

{% block member_content %}

<div id="layout-merchant-summary" class="col-sm-4 col-left">
    <input id="summary-route" type="text" hidden value="{{ summaryRoute }}">
    <script>
        $(document).ready(function () {
            $("#layout-merchant-summary").load('/merchant/summary');
        });
    </script>
</div>

<div class="col-sm-8 col-right">
    {% block merchant_content %}{% endblock %}
</div>

{% endblock %}