<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            {% if user is not empty %}
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                </button>
            {% endif %}
            <a class="navbar-brand" href="/"><i class="fa fa-address-card-o" aria-hidden="true"></i>Rendez-Vous</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if user is not empty and user.section == ROUTE.MERCHANT and user.active %}
                    <li><a href="{{ user.section }}{{ ROUTE.USER_HOME }}">Accueil</a></li>
                    <li><a href="{{ user.section }}{{ ROUTE.USER_MODIFICATION }}">Profil</a></li>
                    <li><a href="{{ user.section }}{{ ROUTE.SERVICE_CREATION }}">Service Création</a></li>
                    <li><a onclick="app.calendar(0, false)">Calendrier</a></li>
                    <li><a onclick="app.disconnect()">Deconnexion</a></li>
                {% endif %}
                {% if user is not empty and user.section == ROUTE.CONSUMER and user.active %}
                    <li><a href="{{ user.section }}{{ ROUTE.USER_HOME }}">Accueil</a></li>
                    <li><a href="{{ user.section }}{{ ROUTE.USER_MODIFICATION }}">Profil</a></li>
                    <li><a href="{{ user.section }}{{ ROUTE.SERVICE_SEARCH }}">Recherche Service</a></li>
                    <li><a onclick="app.disconnect()">Deconnexion</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right"></ul>
        </div>
    </div>
</nav>