{% set isVerticalAlign = true %}

{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="/css/login.css">
{% endblock %}

{% block section %}

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-left">
            <div class="panel confirmation-logo">
                {% if user != null %}
                    <i class="fa fa-check-circle-o text-primary" aria-hidden="true"></i>
                {% else %}
                    <i class="fa fa-times-circle-o text-danger" aria-hidden="true"></i>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-8 col-right">
            <div class="panel confirmation-msg">
                <div class="panel-icon">
                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                </div>
                <table>
                    <tr>
                        <td>
                            {% if user != null %}
                                <h3>Votre compte a été activé avec succès</h3>
                                <a class="btn btn-primary" href="/">Connexion</a>
                            {% else %}
                                <h3>L'url de confirmation que vous tentez d'accèder est invalide.</h3>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}