{% extends 'layout_member.html' %}

{% block script_links %}
{{ parent() }}
<script src="/javascript/member_modify.js"></script>
{% endblock %}

{% block member_content %}

<form method="POST" action="{{updateRoute}}" data-toggle="validator" enctype="multipart/form-data">

    <div class="col-sm-12">

        <div class="panel panel-primary">
            <div class="panel-heading">Information Personel</div>
            <div class="panel-body">

                <div class="row">

                    <div class="form-group col-sm-12">
                        <label>Image de profil</label>
                        <input type="file" name="userImage" class="file" accept=".png">
                        <div class="input-group">
                            <span class="browse input-group-addon" id="basic-addon1">
                                Parcourir <i class="fa fa-upload" aria-hidden="true"></i>
                            </span>
                            <input type="text" class="fichier form-control" placeholder="Aucun fichier sélectionné" readonly>
                        </div>
                    </div>

                    <div class="form-group col-sm-4">
                        <label>Prénom</label>
                        <input class="form-control" name="firstname" type="text" value="{{ member.firstName }}" required>
                    </div>

                    <div class="form-group col-sm-4">
                        <label>Nom</label>
                        <input class="form-control" name="lastname" type="text" value="{{ member.lastName }}" required>
                    </div>

                    <div class="form-group col-sm-4">
                        <label>Date de naissance</label>
                        <input class="form-control date-picker" name="birthdate" type="text" value="{{ member.birthdate }}" required>
                    </div>

                    <div class="form-group col-sm-4">
                        <label>Numéro civique</label>
                        <input class="form-control" name="adresse" type="text" value="{{ member.address.number }}" required pattern="[A-Za-z0-9]*">
                    </div>

                    <div class="form-group col-sm-4">
                        <label>Rue</label>
                        <input class="form-control" name="street" type="text" value="{{ member.address.street }}" required>
                    </div>

                    <div class="form-group col-sm-4">
                        <label>Appartement</label>
                        <input class="form-control" name="app" type="text" value="{{ member.address.appartment }}" pattern="[A-Za-z0-9]*"> 
                    </div>

                    <div class="form-group col-sm-4">
                        <label>Code postal</label>
                        <input class="form-control" name="zip_code" pattern="^[A-Za-z]\d[A-Za-z][ ]?\d[A-Za-z]\d$" type="text" value="{{ member.address.code }}" required> 
                    </div>

                    <div class="form-group col-sm-4">
                        <label>Province</label>
                        <select id="slc-prov-a" class="slc-prov form-control" required></select>
                    <input id="txt-prov-a" type="text" name="province" hidden value="{{ member.address.province }}">
                    </div>

                    <div class="form-group col-sm-4">
                        <label>Ville</label>
                        <select id="slc-city-a" class="form-control" required></select>
                        <input id="txt-city-a" type="text" name="town" hidden value="{{ member.address.town }}">
                    </div>

                    <div class="form-group col-sm-4">
                        <label>Téléphone</label> 
                        <input class="form-control" name="phone" type="text" pattern="^\d{3}[-. ]?\d{3}[-. ]?\d{4}$" value="{{ member.phone }}" required>
                    </div>
            
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary" data-disable="true">Sauvegarder</button>
                    </div>
                </div>
            </div>
        </div>

        {% if member.accountType == 2 %}
            {% include 'merchant_modify_business.html' %}
        {% endif %}

    </div>

</form>

{% endblock %}