{% set isVerticalAlign = true %}

{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="/css/login.css">
{% endblock %}

{% block title %}confirmation{% endblock %}

{% block section %} 
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-left">
            <div class="panel confirmation-logo">
                <i class="fa fa-paper-plane text-primary" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-sm-8 col-right">
            <div class="panel confirmation-msg">
                <div class="panel-icon">
                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                </div>
                <table>
                    <tr>
                        <td>
                            <h3>Votre inscription a été fait avec succès!</h3>
                            Un courriel d'activation a été envoyé à <b>{{member.email}}</b>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

