{% extends "layout_merchant.html" %}

{% block head %}
{{ parent() }}
{% endblock %}  

{% block scrip_links %}
{{ parent() }}
{% endblock %}

{% block title %}{{ parent() }}marchant{% endblock %} 

{% block merchant_content %}

    {% for service in services %}
        <div class="panel panel-primary">
            <div class="panel-heading">{{ service.name }}</div>
            <div class="panel-body">
                <b>
                    {{ date(service.dateBegin)|strftime('%A %e %B') }} 
                    au
                    {{ date(service.dateEnd)|strftime('%A %e %B') }}</b>
                <p>{{ service.description }}</p>
                <a class="btn btn-sm btn-inverse" href="{{ modifyServiceRoute }}?id={{ service.id }}">Consulter/Éditer</a>
                <a onclick="app.deactivate_service({{ service.id }});" class="btn btn-sm btn-danger">Supprimer</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}  