{% extends "layout_register.html" %}

{% block form %}
<h4>Information commerciale</h4>
<div class="row">
    <div class="form-group col-sm-9">  
        <input class="form-control" name="company_name" type="text" placeholder="Nom de la compagnie" required>
    </div>
</div>
<div class="row" id="answer_adresse" style="display:block">
    <div class="form-group col-sm-12">  
        <label>Votre adresse professionnelle est-t-elle la même que votre adresse personnelle?</label><br/>
        <input class="w3-radio" type="radio" name="same_adresse" value="yes">
        <label class="w3-validate">Oui</label>
        <input class="w3-radio" type="radio" name="same_adresse" value="no">
        <label class="w3-validate">Non</label>
    </div>
</div>
<div class="row" id="adresse_repeat" style="display: none">
    <div class="form-group col-sm-4">      
        <input class="form-control" name="business_adresse" type="text" placeholder="Numéro civique" required>
    </div>
    <div class="form-group col-sm-4">      
        <input class="form-control" name="business_street" type="text" placeholder="Rue"> 
    </div>
    <div class="form-group col-sm-4">      
        <input class="form-control" name="business_app" type="text"  placeholder="Appartement">
    </div>
    <div class="form-group col-sm-4">      
        <input class="form-control" name="business_zip_code" type="text" required  placeholder="Code postal">
    </div>
    <div class="form-group col-sm-4">
        <select id="slc_prov_b" class="slc_prov form-control" name="business_province" data-target="#slc_city_b" required>
            <option value="null">Province</option>
            <option w3-repeat="provinces" value=[[abbrev]]>[[p_name]]</option>
        </select>
    </div>
    <div class="form-group col-sm-4">
        <select id="slc_city_b" class="form-control" name="business_town" required disabled>
            <option value="null">Ville</option>
        </select>
    </div>
</div>
<div class="row" id="answer_phone" style="display:block">
    <div class="form-group col-sm-12">  
        <label>Votre numéro de téléphone professionnel est-t-il le même que votre numéro personnel?</label><br/>
        <input class="w3-radio" type="radio" name="same_phone" value="yes">
        <label class="w3-validate">Oui</label>
        <input class="w3-radio" type="radio" name="same_phone" value="no">
        <label class="w3-validate">Non</label>
    </div>
</div>
<div id="phone_repeat" class="row" style="display: none">
    <div class="form-group col-sm-6">      
        <input class="form-control" name="business_phone" type="text" placeholder="Téléphone" pattern="\b\d{3}[-.]?\d{3}[-.]?\d{4}\b" required>
    </div>
</div>
<div class="row" id="answer_mail" style="display:block">
    <div class="form-group col-sm-12">  
        <label>Votre courriel professionnel est-t-il le même que votre courriel personnel?</label><br/>
        <input class="w3-radio" type="radio" name="same_mail" value="yes">
        <label class="w3-validate">Oui</label>
        <input class="w3-radio" type="radio" name="same_mail" value="no">
        <label class="w3-validate">Non</label>
    </div>
</div>
<div id="mail_repeat" class="row" style="display: none">
    <div class="form-group col-sm-6">       
        <input class="form-control" name="business_mail" type="email" placeholder="Courriel de la compagnie" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" required>
    </div>
</div>

{% endblock %}