{% extends "layout_merchant.html" %}

{% block head %}
{{ parent() }}
<link rel="stylesheet" href="/css/home_merchant.css">
{% endblock %}  

{% block scrip_links %}
{{ parent() }}
{% endblock %}

{% block merchant_content %}
    <div class="panel">
        <div class="panel-body">
            <a class="action" href="{{ createServiceRoute }}">
               <table>
                    <tr>
                        <td class="action-name">Créer Service</td>
                        <td class="action-icon"><i class="fa fa-plus" aria-hidden="true"></i></td>
                    </tr>
               </table>
            </a>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body">
            <a class="action" href="{{ servicesListRoute  }}">
                <table>
                    <tr>
                        <td class="action-name">Services Offerts</td>
                        <td class="action-icon"><i class="fa fa-address-card-o" aria-hidden="true"></i></td>
                    </tr>
                </table>
            </a>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body">
            <a class="action" onclick="app.calendar(0, false)">
               <table>
                   <tr>
                        <td class="action-name">Calendrier</td>
                        <td class="action-icon"><i class="fa fa-calendar" aria-hidden="true"></i></td>
                   </tr>
               </table>
            </a>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body">
        <a class="action" href="{{ servicesRatingsRoute }}">
            <table>
                <tr>
                    <td class="action-name">Commentaires</td>
                    <td class="action-icon"><i class="fa fa-comments-o" aria-hidden="true"></i></td>
                </tr>
            </table>
        </a>
        </div>
    </div>
{% endblock %}  
