<div class="panel panel-primary">
    <div class="panel-heading">Information commerciale</div>
    <div class="panel-body">
        <div class="row">
            <div class="form-group col-sm-4">
                <label>Nom de compagnie</label>
                <input class="form-control" name="company_name" type="text" value="{{ member.businessName }}" required>
            </div>

            <div class="form-group col-sm-4">
                <label>Téléphone</label>
                <input class="form-control" name="business_phone" type="text" value="{{ member.businessPhone }}" required pattern="^\d{3}[-. ]?\d{3}[-. ]?\d{4}$"> 
            </div>

            <div class="form-group col-sm-4">
                <label>Courriel</label>
                <input class="form-control" name="business_mail" type="email" value="{{ member.businessEmail }}" required>
            </div>

            <div class="form-group col-sm-4">
                <label>Numéro civique</label>
                <input class="form-control" name="business_adresse" type="text" value="{{ member.businessAddress.number }}" required pattern="[A-Za-z0-9]*">
            </div>

            <div class="form-group col-sm-4">
                <label>Rue</label>
                <input class="form-control" name="business_street" type="text" value="{{ member.businessAddress.street }}" required> 
            </div>

            <div class="form-group col-sm-4">
                <label>#Bureau|App.</label>
                <input class="form-control" name="business_app" type="text" value="{{ member.businessAddress.appartment }}" pattern="[A-Za-z0-9]*"> 
            </div>

            <div class="form-group col-sm-4">
                <label>Code postal</label>
                <input class="form-control" name="business_zip_code" type="text" value="{{ member.businessAddress.code }}" required pattern="^[A-Za-z]\d[A-Za-z][ ]?\d[A-Za-z]\d$"> 
            </div>

            <div class="form-group col-sm-4">
                <label>Province</label>
                <select id="slc-prov-b" class="slc-prov form-control" required></select>
                <input id="txt-prov-b" type="text" name="business_province" hidden  value="{{ member.businessAddress.province }}">
            </div>  

            <div class="form-group col-sm-4">
                <label>Ville</label>
                <select id="slc-city-b" class="form-control" required></select>
                <input id="txt-city-b" type="text" name="business_town"  hidden value="{{ member.businessAddress.town }}">
            </div>

            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary" data-disable="true">Sauvegarder</button>
            </div>
        </div>
    </div>
</div>