{% extends "merchant_new_service.html" %}

{% block script_links %}
{{parent ()}}
<script src="/javascript/service/main.js"></script>
<script src="/javascript/service/update.js"></script>
<script src="/javascript/service/create.js"></script>
{% endblock %}

{% block method %}{{ updateServiceRoute }}{% endblock %}

{% block rdv %}
	<a class="btn btn-primary" name="rdv" onclick="app.calendar({{ service.id }}, false)">Consulter les rendez-vous</a>
{% endblock %}

{% block rates %}
    {% include "merchant_rates.html" %}
{% endblock %}