<div class="panel panel-primary">
    <div class="panel-heading">Sommaire des rendez-vous</div>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>
                    Service
                </th>
                <th class="total">
                    Total
                </th>
            </tr>
            {% for serviceInfo in services %}
                <tr onclick="app.calendar({{ serviceInfo.service.id }}, true);">
                    <td>
                       {{ serviceInfo.service.name }}
                    </td>
                    <td class="total">
                        {{ serviceInfo.appointmentsCount }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
