{% extends "layout_merchant.html" %}

{% block script_links %}
{{ parent() }}
<script src="/javascript/service/main.js"></script>
<script src="/javascript/service/create.js"></script>
{% endblock %}

{% block merchant_content %}
<form id="formService" action="{% block method %}{{ registerRoute }}{% endblock %}" method="POST" data-toggle="validator">

    <div class="panel panel-primary">
        <div class="panel-heading">Création du service</div>
        <div class="panel-body">
            <div class="row">
                <input type="hidden" value="{{ service.id }}" name="id">

                <div class="form-group col-sm-12">
                    <label for="name">Nom</label>
                    <input type="text" class="form-control" id="name_service" required value="{{ service.name }}" name="name" placeholder="ex: Coupe de cheveux">
                </div>

                <div class="form-group col-sm-12">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description" rows="5" placeholder="Entrez une brève description">{{ service.description }}</textarea>
                </div>

                <div class="form-group col-sm-6">
                    <label for="domaine">Domaine</label>
                    <select class="form-control" id="domain" data-selected="{{ service.domainId }}" name="domain" required></select>
                </div>

                <div class="form-group col-sm-6">
                    <label for="category">Catégorie</label>
                    <select class="form-control" id="category" data-selected="{{ service.categoryId }}" name="category" required disabled></select>
                </div>

                <div class="col-sm-6 form-group">
                    <label for="dateBegin">Début</label>
                    <input type="text" class="form-control date-picker" id="date_from" placeholder="AAAA-MM-JJ" size="10" value="{{ service.dateBegin }}" name="dateBegin">
                </div>

                <div class="col-sm-6 form-group">
                    <label for="dateEnd">Fin</label>
                    <input type="text" class="form-control date-picker" id="date_to" placeholder="AAAA-MM-JJ" size="10" value="{{ service.dateEnd }}" name="dateEnd">
                </div>

                <div class="col-sm-6 form-group">
                    <label for="price">Prix</label>
                    <input type="text" class="form-control" id="price" required value="{{ service.price }}" name="price" placeholder="ex: 19.99" pattern="[0-9 ]{1,}[,.]{0,1}[0-9]{0,2}">
                    <span id="errorPrice"> </span>
                </div>

                <div class="col-sm-6 form-group">
                    <label for="length">Durée</label>
                    <select id="length" class="form-control" name="length" required>
                        {% set selected = service.length %}
                        {% include 'hours.html' %}
                    </select>
                </div>

                <div class="col-sm-12">
                    <label>Jours</label>
                </div>

                <div class="form-group col-xs-6 col-sm-3">
                    <label for="lundi" class="checkday">
                        <input id="lundi" type="checkbox" name="monday" 
                            value="1"{% if service.monday == '1' %} checked{% endif %}/>Lundi
                    </label>
                </div>

                <div class="form-group col-xs-6 col-sm-3">
                    <label for="mardi" class="checkday">
                        <input id="mardi" type="checkbox" name="thuesday" 
                            value="1"{% if service.thuesday == '1' %} checked{% endif %}/>Mardi
                    </label>
                </div>

                <div class="form-group col-xs-6 col-sm-3">
                    <label for="mercredi" class="checkday">
                        <input id="mercredi" type="checkbox" name="wednesday" 
                            value="1"{% if service.wednesday == '1' %} checked{% endif %}/>Mercredi
                    </label>
                </div>

                <div class="form-group col-xs-6 col-sm-3">
                    <label for="jeudi" class="checkday">
                        <input id="jeudi" type="checkbox" name="thursday" 
                            value="1"{% if service.thursday == '1' %} checked{% endif %}/>Jeudi
                    </label>
                </div>

                <div class="form-group col-xs-6 col-sm-3">
                    <label for="vendredi" class="checkday">
                        <input id="vendredi" type="checkbox" name="friday" 
                            value="1"{% if service.friday == '1' %} checked{% endif %}/>Vendredi
                    </label>
                </div>

                <div class="form-group col-xs-6 col-sm-3">
                    <label for="samedi" class="checkday">
                        <input id="samedi" type="checkbox" name="saturday" 
                            value="1"{% if service.saturday == '1' %} checked{% endif %}/>Samedi
                    </label>
                </div>

                <div class="form-group col-sm-3">
                    <label for="dimanche" class="checkday">
                        <input id="dimanche" type="checkbox" name="sunday" 
                            value="1"{% if service.sunday == '1' %} checked{% endif %}/>Dimanche
                    </label>
                </div>

                <div class="form-group col-sm-6">
                    <label>Ouverture</label>
                    <select class="form-control" name="hourBegin" id="hourBegin" required>
                        {% set selected = service.hourBegin %}
                        {% include 'hours.html' %}
                    </select>
                </div>

                <div class="form-group col-sm-6">
                    <label>Fermeture</label>
                    <select class="form-control" name="hourEnd" id="hourEnd" required>
                        {% set selected = service.hourEnd %}
                        {% include 'hours.html' %}
                    </select>
                </div>

                <div class="form-group col-sm-12">     
                    <button class="btn btn-primary" type="submit" onclick="validateForm()">Enregistrer</button>
                    {% block rdv %}{% endblock %}
                </div>
            </div>

        </div>

        {% block rates %}{% endblock %}

    </div>
</form>
{% endblock %}