{% for rating in ratings %}
    <div class="row">
        <div class="col-xs-2">
            <img class="media-object" src="{{ rating.userImage }}" alt="user image"/>
        </div>
        <div class="col-xs-10">
            <div class="media-body">
                <h4 class="media-heading">{{rating.title}}</h4>
                <p>{{rating.comment}}</p>
                <p id="stars" onblur="stars_affiche({{rating.score}})"></p>
            </div>
        </div>
    </div>
    <br/>
{% endfor %}
