<div id="modal-basic" class="modal fade">
    <div class="modal-dialog" role="document">
	    <div class="modal-content">
		    <div class="modal-header">
		    	<div class="modal-title">Modal title</div>
		    </div>
		    <div class="modal-body">
		    	<p>Modal body text goes here.</p>
		    </div>
		    <div class="modal-footer">
		    	<button type="button" class="btn btn-primary modal-confirm">Save changes</button>
		    	<button type="button" class="btn btn-secondary modal-close" data-dismiss="modal">Close</button>
		    </div>
	    </div>
    </div>
</div>

<div id="modal-calendar" class="modal fade">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
    <div class="modal-dialog" role="document">
	    <div class="modal-content">
			
	    </div>
    </div>
</div>

<div id="modal-confirm" class="modal fade">
    <div class="modal-dialog" role="document">
	    <div class="modal-content">
		    <div class="modal-header">
		    	<h5 class="modal-title">Modal title</h5>
		    </div>
		    <div class="modal-body">
		    	<p>Modal body text goes here.</p>
		    </div>
		    <div class="modal-footer">
		    	<button type="button" class="btn btn-primary modal-confirm">Confirmer</button>
		    	<button type="button" class="btn btn-danger modal-close" data-dismiss="modal">Fermer</button>
		    </div>
	    </div>
    </div>
</div>