<div class="slider-image">
    {% for serviceInfo in services %}
        <div>
            <div class="slide-info">
                <div class="slider-title">{{ serviceInfo.service.name }}</div>
                <div class="slider-desc">
                    {{ serviceInfo.merchantName }}, {{ serviceInfo.merchantCity }}<br>
                    {{ serviceInfo.service.price }}
                </div>
            </div>
            <div class="slide-canvas">
                <div class="table">
                    <div class="tr">
                        <div class="td">
                            <img src="/media/image/service/{{ serviceInfo.service.id }}.jpg" alt="/media/image/service/{{ serviceInfo.service.id }}.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
