
<div class="panel-teal">
   {% if errorMessage is defined %}
<div class="row">
    <div class="col-sm-12">
        <p id="errors" class="alert alert-danger">{{ errorMessage }}</p>
    </div>
</div>
{% endif %}
<ul>
    {% for service in services %}
    <li>
        <div class="service-card">
            <h4 class="card-title">
                Service : {{ service.Id }}
            </h4>
            <p>{{ service.nextDisponibility }}<br>
                <strong>{{ service.name }}</strong><br>
            {{ service.description }}</p>
            <button class="col-sm-4 btn btn-info padding" name="consult" onclick="service/view/{{service.id}}">Consulter</button>
            <button class="col-sm-7 col-sm-offset-1 btn btn-danger padding" name="gotRdv" onclick="#">Prendre Rendez-vous</button>
        </div>
    </li>
    {% endfor %}
    
</ul>
	
</div>

